[submodule "lotuscrm"]
	path = lotuscrm
	url = git@github.com:reshimahendra/lotuscrm.git
[submodule "vue3-for-beginners"]
	path = vue3-for-beginners
	url = git@github.com:bitfumes/vue3-for-beginners
[submodule "fastAPI-tutor/fastapi-course"]
	path = fastAPI-tutor/fastapi-course
	url = git@github.com:bitfumes/fastapi-course
