/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;800&family=Source+Sans+3:wght@200&display=swap'); */
body{
  background-color: #dedede;
  padding: 0;
  margin:0;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Source Sans 3', sans-serif;
}
button{
  background-color: #dedede;
  border: 1px solid #f0f0f0;
  padding:1rem 3rem;
  margin-top: 1rem;
  cursor: pointer;
}
button:hover{
  background-color:#0e0e0e;
  border: 1px solid #e0e0e0;
  color: #ffffff;
}
input[type=text]{
  padding: .7rem 1rem;

}
ul{
  margin:0;
  padding:0;
}

ul li{
  list-style-type: none;
  padding:0;
  margin:0;
}

.box{
  margin:2rem;
  padding:2rem;
  border: 1 solid #010101;
  background-color: #ffffff;
  padding-bottom: 3rem;
}

.blue-box{
  padding: 1.5rem 2rem;
  background-color: #330202;
  border: 2px solid #dd0203;
  color: #fafafa;
}

.centered{
  text-align: center;
}

.dark-font{
  color: #000000;
}

.active{
  border: 1 solid #04e2fe;
  background-color: #eaeaea;
  padding: .7rem 1rem;
}

.error{
  border: 3px solid red;
  background-color: #2341aa;
  padding: .7rem 1rem;
}
